* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.43;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #e5e5e5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  display: -ms-flex;
  display: -ms-inline-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/* Доп. позиция */

.align-item {
  display: flex;
  align-items: center;
}
.text-align {
  text-align: center;
}
.justify-content {
  display: flex;
  justify-content: center;
}
.margin-bottom {
  margin-bottom: 20px;
}

[class*="col-"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/*  12-column */

.col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
/* 10-column */

.col-xl-1 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-xl-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.col-xl-3 {
  flex: 0 0 30%;
  max-width: 30%;
}
.col-xl-4 {
  flex: 0 0 40%;
  max-width: 40%;
}
.col-xl-5 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-xl-6 {
  flex: 0 0 60%;
  max-width: 60%;
}
.col-xl-7 {
  flex: 0 0 70%;
  max-width: 70%;
}
.col-xl-8 {
  flex: 0 0 80%;
  max-width: 80%;
}
.col-xl-9 {
  flex: 0 0 90%;
  max-width: 90%;
}
.col-xl-10 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 1330px) {
  .col-l-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-l-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-l-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-l-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-l-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-l-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-l-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-l-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-l-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-l-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-l-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-l-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 1170px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .col-xs-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .col-us-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-us-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-us-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-us-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-us-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-us-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-us-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-us-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-us-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-us-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-us-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-us-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* body::-webkit-scrollbar {
        width: 8px;
      }
      
      body::-webkit-scrollbar-track {
        background: #1c1b21;
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: rgb(62, 63, 63);
        border-radius: 20px;
        border: 1px solid #fff;
      } */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 10px 0px;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  opacity: 95%;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  flex: 0 0 233px;
}
.header__logo-text {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #66c05d;
}

.header__logo img {
  max-width: 100%;
}

.header__list {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 2;
}

.header__list a {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}
.header__list a:hover {
  color: #49d73d;
}
.header__list li {
  list-style: none;
  margin: 0px 15px;
}
/* @media (max-width: 1024px) {
  .header__list li {
    margin: 0px 15px 0px 0px;
  }
  .header__list a {
    margin-left: 20px;
  }
} */

@media (max-width: 996px) {
  .header {
    padding: 25px 0px;
  }
  .header__body {
    justify-content: space-around;
  }
  body.lock {
    overflow: hidden;
  }
  .header__logo {
    flex: 0 0 233px;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    padding: 110px 0px 0px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
    padding-left: 15px;
  }
}

.bg-white {
  background-color: #fff;
}
.main-info {
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-info-nav ul {
  display: flex;
}
.main-info-nav ul li a {
  margin: 0px 15px;
  color: #000;
}
.main-info-nav ul li a:hover {
  color: #49d73d;
  transition: 0.3s ease;
}

.main-info-telefon {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}
.main-info-btn a {
  padding: 10px 8px;
  border: 1px solid rgb(24, 211, 24);
  border-radius: 40px;
  color: #000;
  text-transform: uppercase;
}
.main-info-btn a:hover {
  background-color: rgba(24, 211, 24, 0.605);
  color: #fff;
  transition: 0.3s ease;
}
.main-info-list {
  display: none;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-info-list a {
  color: #000;
  /* border: 1px solid #49d73d;
  border-radius: 20px;
  padding: 8px 15px; */
}
.main-info-list a:hover {
  color: #49d73d;
  transition: 0.3s ease;
}
@media (max-width: 996px) {
  .main-info-nav {
    display: none;
  }
  .main-info-list {
    display: block;
  }
  .main-info {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }
}
@media (max-width: 500px) {
  .main-info {
    flex-direction: column;
    align-items: center;
  }
  .main-info-list {
    margin-bottom: 30px;
  }
}

.main-chair {
  background: url(../img/Rectangle\ 2.png);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.main-chair-section {
  padding: 150px 0px;
}
.main-chair-section-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
}
.main-chair-section-text {
  color: #fff;
  font-size: 20px;
  max-width: 500px;
  margin-bottom: 50px;
}
.main-chair-section-btn a {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
}
.main-chair-section-btn a:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
  border: 1px solid rgba(24, 211, 24, 0.605);
}

.main-offer {
  margin-bottom: 50px;
}

.main-offer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-offer-title {
  font-size: 26px;
  color: #000;
  text-transform: uppercase;
}
.main-cards {
  margin-bottom: 30px;
}
.main-cards-items {
  padding: 20px 15px;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.256);
}
.main-cards-items-picture {
  margin-bottom: 20px;
}
.main-cards-items-name {
  font-size: 16px;
  margin-bottom: 20px;
}
.main-cards-items-price {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-cards-items-btn {
  margin-bottom: 10px;
}

.main-cards-items-btn a {
  padding: 10px 20px;
  border: 2px solid #000;
  color: #000;
  border-radius: 20px;
}
.main-cards-items-btn a:hover {
  transition: 0.3s ease;
  background-color: #66c05d;
  border: 2px solid transparent;
  color: #fff;
}

.main-blocks {
  margin-bottom: 100px;
}
.main-blocks-bonus {
  height: 100%;
  padding: 30px;
  background-color: #4ad73dd1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
}

.main-blocks-bonus-info-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-blocks-bonus-info-text {
  margin-bottom: 20px;
}
.main-blocks-bonus-info-input input {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
}

.main-blocks-welcome {
  padding: 30px;
  background-color: #4ad73dd1;
  height: 100%;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
}
.main-blocks-welcome-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-blocks-welcome-text {
  margin-bottom: 60px;
}
.main-blocks-welcome-btn a {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
}

.main-blocks-welcome-btn a:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
  border: 1px solid rgba(24, 211, 24, 0.605);
}

.footer-social {
  background-color: #fff;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-direction {
  display: flex;
  align-items: center;
}
.footer-social-mess {
  margin-right: 50px;
}
.footer-social-mess a {
  margin: 0px 20px;
}
.footer-social-mess img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid green;
  border-radius: 40px;
}
.footer-social-mess img:hover {
  transition: 0.3s ease;
  transform: scale(1.15);
}

.footer-end-text {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  font-size: 14px;
  opacity: 50%;
}

@media (max-width: 1100px) {
  .main-blocks-bonus {
    flex-direction: column;
  }
  .main-blocks-bonus-picture {
    width: 100%;
  }
  .footer-end-text:first-child p {
    max-width: 400px;
  }
  .footer-end-text:last-child p {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 996px) {
  .main-chair-section-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .main-cards-items {
    max-width: 400px;
    margin-bottom: 50px;
  }
  .footer-social-mess img {
    width: 35px;
    height: 35px;
  }
  .footer-social-adress {
    font-size: 15px;
  }
  .flex-direction {
    display: block;
    text-align: center;
  }
  .footer-social-mess {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .main-chair-section-title {
    font-size: 35px;
  }
  .main-chair-section-text {
    max-width: 387px;
  }
  .main-offer-title {
    font-size: 23px;
  }
  .main-offer-car img {
    height: 50px;
  }
  .main-cards-items {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .main-blocks-bonus {
    margin-bottom: 20px;
  }
  .main-blocks-bonus-info {
    width: 100%;
  }
  .main-blocks-bonus {
    text-align: center;
  }
  .main-blocks-welcome {
    text-align: center;
  }
  .footer-end-text:first-child p {
    max-width: 210px;
  }
}
@media (max-width: 600px) {
  .main-chair-section-title {
    font-size: 35px;
  }
  .main-chair-section-text {
    max-width: 280px;
  }
  .main-offer-title {
    font-size: 20px;
  }
  .footer-social {
    flex-direction: column;
  }
  .flex-direction {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .footer-end-text {
    flex-direction: column;
    width: 100%;
  }
  .footer-end-text:first-child p {
    max-width: 100%;
  }
  .footer-end-text:last-child p {
    max-width: 100%;
  }
  .main-chair {
    height: 400px;
  }
  .main-chair-section {
    padding: 50px 0px;
  }
}
@media (max-width: 425px) {
  .main-offer-title {
    font-size: 17px;
  }
  .main-offer-car img {
    height: 40px;
  }
  .main-blocks-bonus-info-input input {
    max-width: 230px;
  }
  .footer-social-mess a {
    margin: 0px 17px;
  }
  .main-chair {
    height: 330px;
  }
  .main-chair-section {
    padding: 30px 0px;
  }
  .main-chair-section-title {
    font-size: 30px;
  }
  .main-chair-section-text {
    font-size: 18px;
  }
}
